<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="remoteUserService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="http://localhost:8080/remote/remoteUserService" />
        <property name="serviceInterface" value="com.github.gorden5566.demos.struts2.remote.service.UserService" />
        <property name="overloadEnabled" value="true" />
        <property name="readTimeout" value="1000" />
    </bean>

</beans>